In [233]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from flask import jsonify

In [234]:
import numpy as np
import pandas as pd

In [235]:
import datetime as dt

In [236]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [237]:
#  create database connection
connection_string = "postgres:nopass97@localhost:5432/Project"
engine = create_engine(f'postgresql://{connection_string}')

In [238]:
inspector = inspect(engine)
inspector.get_table_names()

['TCD_Company',
 'TCD_Deals',
 'TCD_Capital',
 'TCD_Revenue',
 'AIDB',
 'Tech_Companies_Deals',
 'AI_Companies_Deals',
 'AICD_Company',
 'AICD_Deals',
 'AICD_Capital',
 'AICD_Revenue']

In [239]:
# Get a list of column names and types
columns = inspector.get_columns('AIDB')
for c in columns:
    print(c['name'], c["type"])
# columns

Country TEXT
City TEXT
Name TEXT
Category TEXT
Website TEXT

In [240]:
# Use `engine.execute` to select and display rows from the table
engine.execute('SELECT * FROM "AICD_Company" LIMIT 5').fetchall()

[('United States', 2812, 7658, 81316, 8756),
 ('United Kingdom', 478, 1179, 2946, 435),
 ('Canada', 282, 870, 1203, 93),
 ('India', 255, 615, 4596, 14359),
 ('China', 206, 465, 14896, 278)]

In [254]:
AIDB_J = pd.read_sql('SELECT * FROM "AIDB"',engine).to_dict('record')

In [244]:
AID_J = pd.read_sql('SELECT * FROM "AI_Companies_Deals"',engine).to_dict('record')

In [245]:
TD_J = pd.read_sql('SELECT * FROM "Tech_Companies_Deals"',engine).to_dict('record')

In [246]:
AI_Company_J = pd.read_sql('SELECT * FROM "AICD_Company"',engine).to_dict('record')

In [247]:
AID_Deal_J = pd.read_sql('SELECT * FROM "AICD_Deals"',engine).to_dict('record')

In [248]:
AID_Capital_J = pd.read_sql('SELECT * FROM "AICD_Capital"',engine).to_dict('record')

In [249]:
AID_Rev_J = pd.read_sql('SELECT * FROM "AICD_Revenue"',engine).to_dict('record')

In [250]:
TD_Company_J = pd.read_sql('SELECT * FROM "TCD_Company"',engine).to_dict('record')

In [251]:
TD_Deal_J = pd.read_sql('SELECT * FROM "TCD_Deals"',engine).to_dict('record')

In [252]:
TD_Capital_J = pd.read_sql('SELECT * FROM "TCD_Capital"',engine).to_dict('record')

In [253]:
TD_Rev_J = pd.read_sql('SELECT * FROM "TCD_Revenue"',engine).to_dict('record')

In [258]:
#print(AIDB_J)

In [259]:
#print(AID_J)

In [260]:
#print(TD_J)

In [262]:
#print(AI_Company_J)

In [ ]:
#unused code
#itemDict = {item[0]: item[1:] for item in TD}
#itemDict
#TD = engine.execute('SELECT * FROM tech_companies_deals').fetchall()
#pd.read_sql('SELECT * FROM tech_companies_deals',engine).to_json(orient = 'index')